@charset "utf-8";

.list_section {
  margin-top: 200px;
}
.list_inner {
  width: 1000px;
  margin: 0 auto;
}

.list_wrap {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem -3rem;
}
.movie {
  width: calc(33.33% - 2rem);
  margin: 3rem 1rem;
  text-align: left;
}
.movie .movie_poster {
  position: relative;
  width: 100%;
  padding-bottom: 150%;
}
.movie .movie_poster picture {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
.movie .movie_poster img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.movie .movie_title {
  color: #fff;
}
.movie .movie_info {
  margin-top: 20px;
  padding: 0 0.5rem;
}
.movie .movie_title h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
}
.movie .movie_title h4 {
  font-size: 1rem;
  margin: 0;
  letter-spacing: 0;
  font-weight: 400;
}
.movie .movie_score {
  margin-top: 3px;
  color: #fff;
  font-size: 16px;
}
.movie .movie_score .vote_average {
  margin: 0 5px;
}
