@charset "utf-8";

.main_visual {
  overflow: hidden;
  padding-bottom: 50px;
}
.main_visual_inner {
  padding-top: 200px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.main_visual .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}
.main_visual .bg:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #141620 40%, transparent);
  content: '';
}
.main_visual_slider {
  overflow: visible;
}
.media_list {
  display: flex;
  height: 600px;
  flex-flow: row wrap;
  border-radius: 10px;
  box-shadow: 10px 20px 20px 30px rgba(0, 0, 0, 0.2);
  background: #141620;
}
.media_poster {
  max-width: 400px;
  transform: translateY(-50px) translateZ(50px);
  margin-left: 3em;
}
.media_poster img {
  display: block;
  max-width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.media_list .media_info {
  flex: 1;
  text-align: left;
  padding: 3em;
}
.media_list .media_title {
  color: #fff;
}
.media_list .media_title h3,
.media_list .media_title h4 {
  margin: 0;
}
.media_list .media_title h3 {
  font-size: 30px;
}
.media_list .media_title h4 {
  font-size: 24px;
  letter-spacing: 0;
}
.media_list .media_score {
  color: #d8d8d8;
  font-size: 20px;
  margin-top: 1em;
  letter-spacing: 0;
}
.media_list .media_score span.vote_average {
  margin: 0 0.5em;
}
.media_genre {
  display: flex;
  margin-top: 20px;
}
.media_genre .genre {
  margin-right: 1em;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0.5em;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media_genre p {
  margin: 0;
  color: #d8d8d8;
}
.media_overview {
  margin-top: 20px;
  color: #d8d8d8;
}
.media_overview p {
  margin: 0;
  line-height: 1.7em;
  height: 10.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.media_trailer {
  margin-top: 40px;
}
.media_trailer a {
  color: #d8d8d8;
  text-decoration: none;
  font-size: 22px;
}
.media_trailer a i {
  margin-right: 5px;
}
.media_trailer a:hover {
  color: #fff;
}